<div class="container" *ngIf="res">
  <br>
  <br>
  <div class="card">
    <br>
    <i class="fas fa-edit" (click)="editProduct(res.CompanyName)" style="text-align: right">Edit</i>
    <img class="center" src="https://cdn3.iconfinder.com/data/icons/business-ii-1/100/20-512.png" alt="Avatar" style="width:30%; height:30% ;">
    <div class="container">
      <h4>
        <b>{{res.CompanyName | uppercase}}</b>
      </h4>
      <p>Domain -{{res.CompanyDomain}}</p>
      <p>Location - {{res.Address}}</p>
      <p>Established Year- {{res.Established}}</p>
      <p>Contact -{{res.Email}}</p>
      <p>Employee Count- {{res.EmployeeCount}}</p>
    </div>


  </div>

</div>